<h1>WDNC MARKET</h1>
    <a href="/">Главная</a>
    <a href="/products">Товары</a>
    <a href="/abouts">О нас</a>

    <div style = "border: 1px black solid">
        <h2>люстра</h2>
        <img src="https://ae01.alicdn.com/kf/H0325366fb7ad4d4a8a919a75f8795318G.jpg">
        <p>люстра - это светильник</>
    </div>
    <div style = "border: 1px black solid">
        <h2>комп</h2>
        <img src="https://filapp1.imgsmail.ru/pic?url=http%3A%2F%2Fresource.mglnews.mn%2Fmglnews%2Fphoto%2F2015%2F5%2F73340841ad6d4fad64d791046e6ee80c%2FOld_computer_2.jpg&sig=75f4af51fd064e4ada066a34dd4300c7">
        <p>компьютер - это не люстра</p>
    </div>