Product
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">

<h1 class="neonText"><span style="color: #b092ff">WDNC</span>-SHOP</h1>

<a class="navlink" href="/">Главная</a>
<a class="navlink" href="/products">Товары</a>
<a class="navlink" href="/aboutus">О нас</a>

</div>

<div class="productDetails">
    <img class="productImage" src="{{ product.image_url }}">
    <div class="productTitle">
        <h1>{{ product.name }}</h1>
        <div class="productPrice">
            <h3>{{ product.price }} ₽</h3>
            <button>Купить</button>
        </div>
    </div>
</div>

<div class="productDescription">
    <h2>Характеристики:</h2>

    {% if product.speed %}
        <p>Скорость: {{ product.speed }} км/ч</p>
    {% endif %}

    {% if product.ram %}
        <p>Размер оперативной памяти: {{ product.ram }} ГБ</p>
    {% endif %}
</div>

<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>
</div>

<div class="productDescription">
    <h2>Отзывы:</h2>
    <div class="review">
        <h3>Автор</h3>
        <h3>Оценка: <span style="color: green">положительная</span></h3>
        <h3>Срок использования: 12 месяцев</h3>
        <p>Отзыв</p>
    </div>

    <form class="createReview">
        <label for="author">Автор:</label>
        <input name="author">
        <label for="rating">Оценка:</label>
        <input name="rating">

        <label for="duration">Срок использования (в месяцах):</label>
        <input name="duration">
        <label for="review">Текст отзыва:</label>
        <textarea name="review"></textarea>
        <button>Опубликовать</button>
    </form>
</div>