Product
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">

<h1><span style="color: #05016a">Нет</span>Магазин</h1>

<a class="navlink" href="/">Главная</a>
<a class="navlink" href="/products">Товары</a>
<a class="navlink" href="/aboutus">О нас</a>

</div>

<div>
    <img src="https://c.dns-shop.ru/thumb/st1/fit/760/600/7db845a944cb6a49371f5d30248b2b98/q93_227b3647f0729cc07889c0d8d243d72612f1e5faa55efe30028ecbbd060e4867.jpg"
        <div>
            <h1>продукт</h1>
            <div>
                <p>100р</p>
                <button>купи</button>
            </div>
        </div>
</div>