@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html, body {
    background-color: #aaaaaaf0;
    padding: 0;
    margin: 0;
}

* {
    font-family: "Didact Gothic";
}

h1 {
    font-size: 40px;
    color: #b092ff;
    font-style: italic;

}

.neonText{
color: #fff;
  text-shadow:
      0 0 7px #5665ff,
      0 0 10px #5665ff,
      0 0 21px #fff,
      0 0 42px #4265fc,
      0 0 82px #4265fc,
      0 0 92px #4265fc,
      0 0 102px #4265fc,
      0 0 151px #4265fc;
}

.productPreview {
    width: 200px;
    height: 200px;
}

.productImage {
    max-width: 35%;
    max-height: 80%;
    margin-left: 30px;
    margin-top: 30px;
}

.product {
    display: flex;
    flex-direction: row;

    min-height: 250px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    width: 60%;
}


.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    margin-left: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 100px;
}

a {
    color: #b092ff;;
    text-decoration: none;
}

.navlink {
    margin-left: 20px;
    text-decoration: none;
    color: #b092ff;
    font-size: 30px;
    cursor: pointer;
}

button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.price {
    margin-left: auto;
    text-align: center;
}

.productDetails {
    margin-top: 20px;

    border-radius: 20px;

    background: white;
    display: flex;
    flex-direction: row;

    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.productPrice {
    display: flex;
    flex-direction: row;
}

.productTitle {
    margin-top: 20px;
    margin-right: 50px;

}

.productTitle * {
    font-style: normal;
    margin-bottom: 20px;
    margin-left: 50px;
}

.productDescription {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 20px;

    background: white;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}




.productDescription * {
    margin: 20px;
}

.filter {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    font-size: 20px;
    border: none;
    background-color: #efefef;
    padding: 11px;
    border-radius: 10px;
    width: 599px;
    margin-right: 10px;
}

.review {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.createReview {
    display: flex;
    flex-direction: column;
}

.createReview * {
    margin: 0 !important;
    padding: 0 !important;

    font-size: 20px;
    border: none;
    padding: 11px;
    border-radius: 10px;
}

.createReview input {
    background-color: #e0e0e0;
}


.createReview textarea {
    background-color: #e0e0e0;
}

.createReview button {
    width: fit-content;
    margin-top: 10px !important;
    margin-left: auto !important;
    padding: 10px !important;
}

 #footer {
          position: relative;
          padding: 50px 100px;
          background-color: black;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: flex;
       }


       #footer ul li{
          color: white;
          list-style:none;
          margin: 30px 40px;
          padding-top: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
      }

      #footer ul li a{
          text-decoration: none;
          color: white;
      }

      #footer ul li a:hover{
          color: #ff4321;
      }