{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

   @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    *{
        font-family: "Raleway";
        background-color: grey;
    }
    h1{
        font-size: 80px;
        color: purple;
    }
    img{
        width:250px;
    }
    .product{
        border: 1px black solid;
        margin-top: 20px;
        background-color: white;

    }
    h2{
    width: 200px;
    }
    button{
    margin-left: auto;
    }
    .product * {
    background-color: white;
    }